html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, b, i, dl, dt, dd, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none
}

article, section {
    display: block
}

a {
    color: #666;
    text-decoration: none
}

html {
    width: 100%;
    height: 100%
}

body {
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
    font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", STHeiti, "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
    font-size: .018rem;
    background-color: #FFF;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent
}

.first-layout, .fullscreen, .mask, .page-index .mask-wechat {
    z-index: 9999
}

.fullscreen, .mask, .page-index .mask-wechat {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.notification, .mask, .page-index .mask-wechat {
    background-color: rgba(0, 0, 0, .8)
}

.cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.page-index {
    position: relative;
    width: 100%;
    height: 100%
}

.page-index .mask-wechat {
    display: none
}

.page-index .get-app-btn {
    position: absolute;
    left: 50%;
    bottom: .166rem;
    margin-left: -.144rem;
    width: .288rem;
    height: .096rem;
    line-height: .096rem;
    text-align: center;
    background: #343434;
    opacity: 0;
    z-index: 49;
    border-radius: .005rem;
    font-size: .03rem
}

.page-index.download-play .get-app-btn {
    opacity: 1;
    -webkit-transition: all 1.4s ease-out 1.8s;
    transition: all 1.4s ease-out 1.8s
}

.page-index .feature-wrap {
    position: absolute;
    margin-left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    top: .072rem;
    overflow: hidden
}

.page-index .feature-wrap .feature {
    opacity: 0;
    text-align: center;
    -webkit-transform: translate3d(0, .09rem, 0);
    transform: translate3d(0, .09rem, 0)
}

.page-index .feature-wrap .feature p {
    color: #000;
    font-size: .036rem;
    white-space: nowrap
}

.page-index .feature-wrap .feature p:last-child {
    font-size: .022rem
}

.page-index .slide-pointer {
    position: absolute;
    bottom: .098rem;
    left: 50%;
    margin-left: -3%;
    width: .03rem;
    height: .011rem;
    z-index: 60;
    background: url(/public/c/images/arrow_c867825.png) no-repeat;
    background-size: .03rem .011rem;
    -webkit-animation: slidePointer 1.6s ease-in-out infinite
}

@-webkit-keyframes slidePointer {
    0% {
    }
    40% {
        -webkit-transform: translate3d(0, 8px, 0)
    }
    60% {
        -webkit-transform: translate3d(0, 4px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, 8px, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.screen-0 {
    text-align: center
}

.screen-0 .title {
    position: absolute;
    bottom: .352rem;
    width: 100%;
    color: #373b40;
    font-size: .041rem;
    opacity: 0;
    z-index: 49
}

.screen-0 .subhead {
    position: absolute;
    bottom: .298rem;
    width: 100%;
    color: #373b40;
    font-size: .024rem;
    opacity: 0;
    z-index: 49
}

.screen-0 .logo {
    position: absolute;
    top: .146rem;
    left: .16rem;
    width: .316rem;
    height: .373rem;
    opacity: 0;
    z-index: 39;
    background: url(/public/c/images/p0/icon_a61455d.png) no-repeat;
    background-size: .316rem auto;
    -webkit-transform: scale(1.3)
}

.screen-0 .bg-element {
    position: relative;
    margin-top: .132rem;
    height: .374rem
}

.screen-0 .bg-element span:nth-child(1) {
    position: absolute;
    top: .002rem;
    left: 0rem;
    width: .059rem;
    height: .017rem;
    background: url(/public/c/images/p0/pen_849567f.png) no-repeat;
    background-size: .059rem auto;
    z-index: 11;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(2) {
    position: absolute;
    top: .002rem;
    left: .076rem;
    width: .069rem;
    height: .112rem;
    background: url(/public/c/images/p0/phone2_47c8ae5.png) no-repeat;
    background-size: .069rem auto;
    z-index: 12;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(3) {
    position: absolute;
    top: .002rem;
    left: .166rem;
    width: .117rem;
    height: .088rem;
    background: url(/public/c/images/p0/wallet2_217d803.png) no-repeat;
    background-size: .117rem auto;
    z-index: 13;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(4) {
    position: absolute;
    top: .002rem;
    left: .316rem;
    width: .126rem;
    height: .07rem;
    background: url(/public/c/images/p0/stock2_11a3da1.png) no-repeat;
    background-size: .126rem auto;
    z-index: 14;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(5) {
    position: absolute;
    top: .002rem;
    left: .47rem;
    width: .09rem;
    height: .113rem;
    background: url(/public/c/images/p0/paper_4661109.png) no-repeat;
    background-size: .09rem auto;
    z-index: 15;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(6) {
    position: absolute;
    top: .002rem;
    left: .586rem;
    width: .056rem;
    height: .091rem;
    background: url(/public/c/images/p0/movie_20bce1e.png) no-repeat;
    background-size: .056rem auto;
    z-index: 16;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(7) {
    position: absolute;
    top: .052rem;
    left: 0rem;
    width: .053rem;
    height: .07rem;
    background: url(/public/c/images/p0/stock_4eebd18.png) no-repeat;
    background-size: .053rem auto;
    z-index: 17;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(8) {
    position: absolute;
    top: .138rem;
    left: .016rem;
    width: .101rem;
    height: .094rem;
    background: url(/public/c/images/p0/wallet_42f41cd.png) no-repeat;
    background-size: .101rem auto;
    z-index: 18;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(9) {
    position: absolute;
    top: .102rem;
    left: .156rem;
    width: .053rem;
    height: .053rem;
    background: url(/public/c/images/p0/bitecoin_e96c6df.png) no-repeat;
    background-size: .053rem auto;
    z-index: 19;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(10) {
    position: absolute;
    top: .172rem;
    left: .134rem;
    width: .111rem;
    height: .069rem;
    background: url(/public/c/images/p0/game_53cf977.png) no-repeat;
    background-size: .111rem auto;
    z-index: 20;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(11) {
    position: absolute;
    top: .118rem;
    left: .276rem;
    width: .088rem;
    height: .114rem;
    background: url(/public/c/images/p0/paper2_7c6fb44.png) no-repeat;
    background-size: .088rem auto;
    z-index: 21;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(12) {
    position: absolute;
    top: .088rem;
    left: .37rem;
    width: .059rem;
    height: .035rem;
    background: url(/public/c/images/p0/shift_e4aa3fc.png) no-repeat;
    background-size: .059rem auto;
    z-index: 22;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(13) {
    position: absolute;
    top: .144rem;
    left: .4rem;
    width: .125rem;
    height: .066rem;
    background: url(/public/c/images/p0/money_dd59be0.png) no-repeat;
    background-size: .125rem auto;
    z-index: 23;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(14) {
    position: absolute;
    top: .12rem;
    left: .556rem;
    width: .083rem;
    height: .078rem;
    background: url(/public/c/images/p0/ball2_c1c3117.png) no-repeat;
    background-size: .083rem auto;
    z-index: 24;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(15) {
    position: absolute;
    top: .26rem;
    left: 0rem;
    width: .129rem;
    height: .092rem;
    background: url(/public/c/images/p0/laptop_6ceb44b.png) no-repeat;
    background-size: .129rem auto;
    z-index: 25;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(16) {
    position: absolute;
    top: .27rem;
    left: .136rem;
    width: .069rem;
    height: .069rem;
    background: url(/public/c/images/p0/ball_d12560e.png) no-repeat;
    background-size: .069rem auto;
    z-index: 26;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(17) {
    position: absolute;
    top: .266rem;
    left: .228rem;
    width: .126rem;
    height: .089rem;
    background: url(/public/c/images/p0/newspaper_d7866e9.png) no-repeat;
    background-size: .126rem auto;
    z-index: 27;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(18) {
    position: absolute;
    top: .242rem;
    left: .382rem;
    width: .139rem;
    height: .117rem;
    background: url(/public/c/images/p0/book_d5927ea.png) no-repeat;
    background-size: .139rem auto;
    z-index: 28;
    -webkit-transform: scale(0)
}

.screen-0 .bg-element span:nth-child(19) {
    position: absolute;
    top: .228rem;
    left: .546rem;
    width: .076rem;
    height: .125rem;
    background: url(/public/c/images/p0/phone_24c2b8c.png) no-repeat;
    background-size: .076rem auto;
    z-index: 29;
    -webkit-transform: scale(0)
}

.screen-0.enter-play .logo {
    -webkit-animation: logo-enter 1.6s 1.2s linear forwards
}

@-webkit-keyframes logo-enter {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.3)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
}

.screen-0.enter-play .title, .screen-0.enter-play .subhead {
    -webkit-animation: title-enter 1.4s 1.8s linear forwards
}

@-webkit-keyframes title-enter {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.screen-0.enter-play .bg-element span:nth-child(1) {
    -webkit-animation: bg-ele-enter .9s .8s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(2) {
    -webkit-animation: bg-ele-enter .9s .8s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(3) {
    -webkit-animation: bg-ele-enter .9s .8s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(4) {
    -webkit-animation: bg-ele-enter .9s 1.2s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(5) {
    -webkit-animation: bg-ele-enter .9s 1.2s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(6) {
    -webkit-animation: bg-ele-enter .9s 1.4s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(7) {
    -webkit-animation: bg-ele-enter .9s .8s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(8) {
    -webkit-animation: bg-ele-enter .9s .8s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(9) {
    -webkit-animation: bg-ele-enter .9s 1s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(10) {
    -webkit-animation: bg-ele-enter .9s 1s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(11) {
    -webkit-animation: bg-ele-enter .9s 1s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(12) {
    -webkit-animation: bg-ele-enter .9s 1.2s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(13) {
    -webkit-animation: bg-ele-enter .9s 1.2s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(14) {
    -webkit-animation: bg-ele-enter .9s 1.4s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(15) {
    -webkit-animation: bg-ele-enter .9s .8s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(16) {
    -webkit-animation: bg-ele-enter .9s .8s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(17) {
    -webkit-animation: bg-ele-enter .9s 1s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(18) {
    -webkit-animation: bg-ele-enter .9s 1.2s linear forwards
}

.screen-0.enter-play .bg-element span:nth-child(19) {
    -webkit-animation: bg-ele-enter .9s 1.4s linear forwards
}

@-webkit-keyframes bg-ele-enter {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1)
    }
}

.screen-0.out-play .logo {
    -webkit-animation: logo-out .4s linear forwards
}

@-webkit-keyframes logo-out {
    0% {
        opacity: 1;
        -webkit-transform: scale(1) translate3d(0, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translate3d(0, -.582rem, 0)
    }
}

.screen-0.out-play .bg-element span {
    -webkit-animation: bg-ele-out .4s linear forwards
}

@-webkit-keyframes bg-ele-out {
    0% {
        -webkit-transform: scale(1) translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: scale(1) translate3d(0, -.52rem, 0)
    }
}

.screen-0.out-play .title, .screen-0.out-play .subhead {
    -webkit-animation: title-out .4s linear forwards
}

@-webkit-keyframes title-out {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -.5rem, 0)
    }
}

.screen-1 .dash-bottom {
    z-index: 29;
    position: absolute;
    top: .292rem;
    left: .174rem;
    width: .293rem;
    height: .329rem;
    background: url(/public/c/images/p1/dash_5af6738.png) no-repeat;
    background-size: .293rem auto;
    -webkit-transform: scale(0);
    transform: scale(0)
}

.screen-1 .dash-middle {
    z-index: 29;
    position: absolute;
    top: .315rem;
    left: .189rem;
    width: .274rem;
    height: .294rem;
    background: url(/public/c/images/p1/dash1_e7b6f58.png) no-repeat;
    background-size: .274rem auto;
    -webkit-transform: scale(0);
    transform: scale(0)
}

.screen-1 .dash-top {
    z-index: 29;
    position: absolute;
    top: .356rem;
    left: .208rem;
    width: .269rem;
    height: .246rem;
    background: url(/public/c/images/p1/dash2_021f760.png) no-repeat;
    background-size: .269rem auto;
    -webkit-transform: scale(0);
    transform: scale(0)
}

.screen-1 .bg-element span:nth-child(1) {
    opacity: 0;
    position: absolute;
    top: .23rem;
    left: .304rem;
    width: .048rem;
    height: .048rem;
    background: url(/public/c/images/p1/ball_ed53b63.png) no-repeat;
    background-size: .048rem auto;
    -webkit-transform: translate3d(0rem, .196rem, 0);
    transform: translate3d(0rem, .196rem, 0)
}

.screen-1 .bg-element span:nth-child(2) {
    opacity: 0;
    position: absolute;
    top: .356rem;
    left: .48rem;
    width: .057rem;
    height: .04rem;
    background: url(/public/c/images/p1/game_13ff609.png) no-repeat;
    background-size: .057rem auto;
    -webkit-transform: translate3d(-.182rem, .074rem, 0);
    transform: translate3d(-.182rem, .074rem, 0)
}

.screen-1 .bg-element span:nth-child(3) {
    opacity: 0;
    position: absolute;
    top: .518rem;
    left: .48rem;
    width: .061rem;
    height: .055rem;
    background: url(/public/c/images/p1/food_d4d86ae.png) no-repeat;
    background-size: .061rem auto;
    -webkit-transform: translate3d(-.182rem, -.096rem, 0);
    transform: translate3d(-.182rem, -.096rem, 0)
}

.screen-1 .bg-element span:nth-child(4) {
    opacity: 0;
    position: absolute;
    top: .642rem;
    left: .292rem;
    width: .047rem;
    height: .035rem;
    background: url(/public/c/images/p1/car_7cbfdec.png) no-repeat;
    background-size: .047rem auto;
    -webkit-transform: translate3d(0rem, -.21rem, 0);
    transform: translate3d(0rem, -.21rem, 0)
}

.screen-1 .bg-element span:nth-child(5) {
    opacity: 0;
    position: absolute;
    top: .524rem;
    left: .102rem;
    width: .051rem;
    height: .042rem;
    background: url(/public/c/images/p1/stock_5b81350.png) no-repeat;
    background-size: .051rem auto;
    -webkit-transform: translate3d(0.2rem, -.1rem, 0);
    transform: translate3d(0.2rem, -.1rem, 0)
}

.screen-1 .bg-element span:nth-child(6) {
    opacity: 0;
    position: absolute;
    top: .32rem;
    left: .128rem;
    width: .035rem;
    height: .059rem;
    background: url(/public/c/images/p1/phone_6ec171f.png) no-repeat;
    background-size: .035rem auto;
    -webkit-transform: translate3d(0.18rem, .1rem, 0);
    transform: translate3d(0.18rem, .1rem, 0)
}

.screen-1.enter-play .feature-wrap .feature {
    -webkit-animation: feature-1-enter-ani .2s .4s ease-out forwards
}

.screen-1.enter-play .dash-bottom {
    -webkit-animation: dash-bottom-ani 1s .6s ease forwards
}

.screen-1.enter-play .dash-middle {
    -webkit-animation: dash-middle-ani 1s .6s ease forwards
}

.screen-1.enter-play .dash-top {
    -webkit-animation: dash-top-ani 1s .6s ease forwards
}

.screen-1.enter-play .bg-element span:nth-child(1) {
    -webkit-animation: screen1-bg 1s ease-out 1.2s forwards
}

.screen-1.enter-play .bg-element span:nth-child(2) {
    -webkit-animation: screen1-bg 1s ease-out 1.2s forwards
}

.screen-1.enter-play .bg-element span:nth-child(3) {
    -webkit-animation: screen1-bg 1s ease-out 1.2s forwards
}

.screen-1.enter-play .bg-element span:nth-child(4) {
    -webkit-animation: screen1-bg 1s ease-out 1.2s forwards
}

.screen-1.enter-play .bg-element span:nth-child(5) {
    -webkit-animation: screen1-bg 1s ease-out 1.2s forwards
}

.screen-1.enter-play .bg-element span:nth-child(6) {
    -webkit-animation: screen1-bg 1s ease-out 1.2s forwards
}

.screen-1.out-play .feature-wrap .feature {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: feature-1-out-ani .2s ease-out forwards
}

.screen-1.out-play .dash-bottom {
    -webkit-animation: dash-bottom-out-ani .5s linear forwards
}

.screen-1.out-play .dash-middle {
    -webkit-animation: dash-middle-out-ani .5s linear forwards
}

.screen-1.out-play .dash-top {
    -webkit-animation: dash-top-out-ani .5s linear forwards
}

.screen-1.out-play .bg-element span:nth-child(1) {
    -webkit-animation: screen1-out-bg .5s linear forwards
}

.screen-1.out-play .bg-element span:nth-child(2) {
    -webkit-animation: screen1-out-bg .5s linear forwards
}

.screen-1.out-play .bg-element span:nth-child(3) {
    -webkit-animation: screen1-out-bg .5s linear forwards
}

.screen-1.out-play .bg-element span:nth-child(4) {
    -webkit-animation: screen1-out-bg .5s linear forwards
}

.screen-1.out-play .bg-element span:nth-child(5) {
    -webkit-animation: screen1-out-bg .5s linear forwards
}

.screen-1.out-play .bg-element span:nth-child(6) {
    -webkit-animation: screen1-out-bg .5s linear forwards
}

.screen-1.reverse-play .feature-wrap .feature {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: feature-1-reverse-ani .2s .5s ease-out forwards
}

.screen-1.reverse-play .dash-bottom {
    -webkit-animation: dash-bottom-reverse-ani .5s linear forwards
}

.screen-1.reverse-play .dash-middle {
    -webkit-animation: dash-middle-reverse-ani .5s linear forwards
}

.screen-1.reverse-play .dash-top {
    -webkit-animation: dash-top-reverse-ani .5s linear forwards
}

.screen-1.reverse-play .bg-element span:nth-child(1) {
    -webkit-animation: screen1-reverse-bg .5s linear forwards
}

.screen-1.reverse-play .bg-element span:nth-child(2) {
    -webkit-animation: screen1-reverse-bg .5s linear forwards
}

.screen-1.reverse-play .bg-element span:nth-child(3) {
    -webkit-animation: screen1-reverse-bg .5s linear forwards
}

.screen-1.reverse-play .bg-element span:nth-child(4) {
    -webkit-animation: screen1-reverse-bg .5s linear forwards
}

.screen-1.reverse-play .bg-element span:nth-child(5) {
    -webkit-animation: screen1-reverse-bg .5s linear forwards
}

.screen-1.reverse-play .bg-element span:nth-child(6) {
    -webkit-animation: screen1-reverse-bg .5s linear forwards
}

@-webkit-keyframes feature-1-enter-ani {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, .09rem, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes dash-top-ani {
    0% {
        -webkit-transform: scale(0) rotate(-120deg)
    }
    100% {
        -webkit-transform: scale(1) rotate(0)
    }
}

@-webkit-keyframes dash-middle-ani {
    0% {
        -webkit-transform: scale(0) rotate(-120deg)
    }
    100% {
        -webkit-transform: scale(1) rotate(0)
    }
}

@-webkit-keyframes dash-bottom-ani {
    0% {
        -webkit-transform: scale(0) rotate(-120deg)
    }
    100% {
        -webkit-transform: scale(1) rotate(0)
    }
}

@-webkit-keyframes screen1-bg {
    0% {
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes feature-1-out-ani {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -.09rem, 0)
    }
}

@-webkit-keyframes dash-top-out-ani {
    0% {
        -webkit-transform: scale(1) rotate(0) translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: scale(1) rotate(0) translate3d(0, -.7rem, 0)
    }
}

@-webkit-keyframes dash-middle-out-ani {
    0% {
        -webkit-transform: scale(1) rotate(0) translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: scale(1) rotate(0) translate3d(0, -.7rem, 0)
    }
}

@-webkit-keyframes dash-bottom-out-ani {
    0% {
        -webkit-transform: scale(1) rotate(0) translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: scale(1) rotate(0) translate3d(0, -.7rem, 0)
    }
}

@-webkit-keyframes screen1-out-bg {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -.7rem, 0)
    }
}

@-webkit-keyframes feature-1-reverse-ani {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, .09rem, 0)
    }
}

@-webkit-keyframes dash-top-reverse-ani {
    0% {
        -webkit-transform: scale(1) rotate(0)
    }
    100% {
        -webkit-transform: scale(0) rotate(-120deg)
    }
}

@-webkit-keyframes dash-middle-reverse-ani {
    0% {
        -webkit-transform: scale(1) rotate(0)
    }
    100% {
        -webkit-transform: scale(0) rotate(-120deg)
    }
}

@-webkit-keyframes dash-bottom-reverse-ani {
    0% {
        -webkit-transform: scale(1) rotate(0)
    }
    100% {
        -webkit-transform: scale(0) rotate(-120deg)
    }
}

.screen-2 .bg-element span:nth-child(1) {
    position: absolute;
    top: .444rem;
    left: .07rem;
    width: .052rem;
    height: .052rem;
    background: url(/public/c/images/p2/1_8c4cb3a.png) no-repeat;
    background-size: .052rem auto;
    -webkit-transform: translate3d(0rem, .72rem, 0)
}

.screen-2 .bg-element span:nth-child(2) {
    position: absolute;
    top: .344rem;
    left: .118rem;
    width: .08rem;
    height: .08rem;
    background: url(/public/c/images/p2/2_f8223fd.png) no-repeat;
    background-size: .08rem auto;
    -webkit-transform: translate3d(0rem, .82rem, 0)
}

.screen-2 .bg-element span:nth-child(3) {
    position: absolute;
    top: .336rem;
    left: .236rem;
    width: .169rem;
    height: .169rem;
    background: url(/public/c/images/p2/3_eeb4a10.png) no-repeat;
    background-size: .169rem auto;
    -webkit-transform: translate3d(0rem, .83rem, 0)
}

.screen-2 .bg-element span:nth-child(4) {
    position: absolute;
    top: .25rem;
    left: .404rem;
    width: .101rem;
    height: .101rem;
    background: url(/public/c/images/p2/4_37433f6.png) no-repeat;
    background-size: .101rem auto;
    -webkit-transform: translate3d(0rem, .92rem, 0)
}

.screen-2 .bg-element span:nth-child(5) {
    position: absolute;
    top: .454rem;
    left: .412rem;
    width: .118rem;
    height: .118rem;
    background: url(/public/c/images/p2/5_35968cc.png) no-repeat;
    background-size: .118rem auto;
    -webkit-transform: translate3d(0rem, .71rem, 0)
}

.screen-2 .bg-element span:nth-child(6) {
    position: absolute;
    top: .554rem;
    left: .166rem;
    width: .058rem;
    height: .058rem;
    background: url(/public/c/images/p2/6_d51b3b4.png) no-repeat;
    background-size: .058rem auto;
    -webkit-transform: translate3d(0rem, .61rem, 0)
}

.screen-2 .bg-element span:nth-child(7) {
    position: absolute;
    top: .29rem;
    left: .116rem;
    width: .035rem;
    height: .035rem;
    background: url(/public/c/images/p2/1-35_af4d802.png) no-repeat;
    background-size: .035rem auto;
    -webkit-transform: translate3d(0rem, .874rem, 0)
}

.screen-2 .bg-element span:nth-child(8) {
    position: absolute;
    top: .226rem;
    left: .278rem;
    width: .035rem;
    height: .035rem;
    background: url(/public/c/images/p2/1-35_af4d802.png) no-repeat;
    background-size: .035rem auto;
    -webkit-transform: translate3d(0rem, .94rem, 0)
}

.screen-2 .bg-element span:nth-child(9) {
    position: absolute;
    top: .298rem;
    left: .09rem;
    width: .018rem;
    height: .018rem;
    background: url(/public/c/images/p2/1-18_43f51ed.png) no-repeat;
    background-size: .018rem auto;
    -webkit-transform: translate3d(0rem, .866rem, 0)
}

.screen-2 .bg-element span:nth-child(10) {
    position: absolute;
    top: .254rem;
    left: .228rem;
    width: .074rem;
    height: .074rem;
    background: url(/public/c/images/p2/2-74_0b16d63.png) no-repeat;
    background-size: .074rem auto;
    -webkit-transform: translate3d(0rem, .908rem, 0)
}

.screen-2 .bg-element span:nth-child(11) {
    position: absolute;
    top: .532rem;
    left: .138rem;
    width: .02rem;
    height: .02rem;
    background: url(/public/c/images/p2/1-20_e5d84a7.png) no-repeat;
    background-size: .02rem auto;
    -webkit-transform: translate3d(0rem, .634rem, 0)
}

.screen-2 .bg-element span:nth-child(12) {
    position: absolute;
    top: .444rem;
    left: .178rem;
    width: .067rem;
    height: .067rem;
    background: url(/public/c/images/p2/2-67_b006685.png) no-repeat;
    background-size: .067rem auto;
    -webkit-transform: translate3d(0rem, .72rem, 0)
}

.screen-2 .bg-element span:nth-child(13) {
    position: absolute;
    top: .51rem;
    left: .222rem;
    width: .093rem;
    height: .093rem;
    background: url(/public/c/images/p2/2-93_a8404d5.png) no-repeat;
    background-size: .093rem auto;
    -webkit-transform: translate3d(0rem, .658rem, 0)
}

.screen-2 .bg-element span:nth-child(14) {
    position: absolute;
    top: .616rem;
    left: .294rem;
    width: .013rem;
    height: .013rem;
    background: url(/public/c/images/p2/1-13_29c8db2.png) no-repeat;
    background-size: .013rem auto;
    -webkit-transform: translate3d(0rem, .546rem, 0)
}

.screen-2 .bg-element span:nth-child(15) {
    position: absolute;
    top: .546rem;
    left: .338rem;
    width: .02rem;
    height: .02rem;
    background: url(/public/c/images/p2/1-20_e5d84a7.png) no-repeat;
    background-size: .02rem auto;
    -webkit-transform: translate3d(0rem, .622rem, 0)
}

.screen-2 .bg-element span:nth-child(16) {
    position: absolute;
    top: .578rem;
    left: .384rem;
    width: .029rem;
    height: .029rem;
    background: url(/public/c/images/p2/1-29_5b8bc99.png) no-repeat;
    background-size: .029rem auto;
    -webkit-transform: translate3d(0rem, .59rem, 0)
}

.screen-2 .bg-element span:nth-child(17) {
    position: absolute;
    top: .684rem;
    left: .318rem;
    width: .02rem;
    height: .02rem;
    background: url(/public/c/images/p2/1-20_e5d84a7.png) no-repeat;
    background-size: .02rem auto;
    -webkit-transform: translate3d(0rem, .48rem, 0)
}

.screen-2 .bg-element span:nth-child(18) {
    position: absolute;
    top: .396rem;
    left: .442rem;
    width: .018rem;
    height: .018rem;
    background: url(/public/c/images/p2/1-18_43f51ed.png) no-repeat;
    background-size: .018rem auto;
    -webkit-transform: translate3d(0rem, .764rem, 0)
}

.screen-2 .bg-element span:nth-child(19) {
    position: absolute;
    top: .402rem;
    left: .532rem;
    width: .034rem;
    height: .034rem;
    background: url(/public/c/images/p2/1-34_7821e4c.png) no-repeat;
    background-size: .034rem auto;
    -webkit-transform: translate3d(0rem, .764rem, 0)
}

.screen-2 .bg-element span:nth-child(20) {
    position: absolute;
    top: .346rem;
    left: .476rem;
    width: .091rem;
    height: .091rem;
    background: url(/public/c/images/p2/2-91_2b7efe8.png) no-repeat;
    background-size: .091rem auto;
    -webkit-transform: translate3d(0rem, .82rem, 0)
}

.screen-2.enter-play .feature-wrap .feature {
    -webkit-animation: feature-2-enter-ani .2s .8s ease-out forwards
}

.screen-2.enter-play .bg-element span:nth-child(1) {
    -webkit-animation: screen2-bg .8s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(2) {
    -webkit-animation: screen2-bg .8s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(3) {
    -webkit-animation: screen2-bg .8s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(4) {
    -webkit-animation: screen2-bg .8s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(5) {
    -webkit-animation: screen2-bg .8s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(6) {
    -webkit-animation: screen2-bg .8s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(7) {
    -webkit-animation: screen2-bg .8s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(8) {
    -webkit-animation: screen2-bg .8s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(9) {
    -webkit-animation: screen2-bg .8s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(10) {
    -webkit-animation: screen2-bg .9s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(11) {
    -webkit-animation: screen2-bg .8s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(12) {
    -webkit-animation: screen2-bg .9s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(13) {
    -webkit-animation: screen2-bg .9s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(14) {
    -webkit-animation: screen2-bg .8s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(15) {
    -webkit-animation: screen2-bg .8s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(16) {
    -webkit-animation: screen2-bg .8s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(17) {
    -webkit-animation: screen2-bg .8s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(18) {
    -webkit-animation: screen2-bg .8s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(19) {
    -webkit-animation: screen2-bg .8s ease-out .8s forwards
}

.screen-2.enter-play .bg-element span:nth-child(20) {
    -webkit-animation: screen2-bg .9s ease-out .8s forwards
}

.screen-2.out-play .feature-wrap .feature {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: feature-2-out-ani .2s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(1) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(2) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(3) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(4) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(5) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(6) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(7) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(8) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(9) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(10) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(11) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(12) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(13) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(14) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(15) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(16) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(17) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(18) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(19) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out-play .bg-element span:nth-child(20) {
    -webkit-animation: screen2-out-bg .6s ease-out forwards
}

.screen-2.out2-play .feature-wrap .feature {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: feature-2-out2-ani .2s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(1) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(2) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(3) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(4) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(5) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(6) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(7) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(8) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(9) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(10) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(11) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(12) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(13) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(14) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(15) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(16) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(17) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(18) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(19) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.out2-play .bg-element span:nth-child(20) {
    -webkit-animation: screen2-out2-bg .6s ease-out forwards
}

.screen-2.reverse-play .feature-wrap .feature {
    opacity: 0;
    -webkit-transform: translate3d(0, .09rem, 0);
    -webkit-animation: feature-2-reverse-ani .2s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(1) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(2) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(3) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(4) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(5) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(6) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(7) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(8) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(9) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(10) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(11) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(12) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(13) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(14) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(15) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(16) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(17) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(18) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(19) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

.screen-2.reverse-play .bg-element span:nth-child(20) {
    -webkit-transform: translate3d(0, -.96rem, 0);
    -webkit-animation: screen2-reverse-bg .6s 1s ease-out forwards
}

@-webkit-keyframes feature-2-enter-ani {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, .09rem, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes screen2-bg {
    0% {
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes feature-2-out-ani {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -.09rem, 0)
    }
}

@-webkit-keyframes feature-2-out2-ani {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, .09rem, 0)
    }
}

@-webkit-keyframes screen2-out-bg {
    0% {
        -webkit-transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(0, -.96rem, 0)
    }
}

@-webkit-keyframes screen2-out2-bg {
    0% {
        -webkit-transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(0, .96rem, 0)
    }
}

@-webkit-keyframes feature-2-reverse-ani {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, .09rem, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes screen2-reverse-bg {
    0% {
        -webkit-transform: translate3d(0, -.96rem, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

.screen-3 .middle1-wrap {
    position: absolute;
    top: .312rem;
    left: .138rem;
    width: .364rem;
    height: .235rem;
    z-index: 39;
    -webkit-transform: translate3d(0.88rem, .58rem, 0)
}

.screen-3 .left1 {
    position: absolute;
    top: .15rem;
    left: -.128rem;
    width: .358rem;
    height: .236rem;
    background-image: url(/public/c/images/p3/l-1_88ec4b4.png);
    background-repeat: no-repeat;
    background-size: .358rem auto;
    -webkit-transform: translate3d(0.88rem, .58rem, 0);
    z-index: 39
}

.screen-3 .left2 {
    position: absolute;
    top: .176rem;
    left: -.154rem;
    width: .42rem;
    height: .246rem;
    background-image: url(/public/c/images/p3/l-2_8fb585f.png);
    background-repeat: no-repeat;
    background-size: .42rem auto;
    -webkit-transform: translate3d(0.88rem, .58rem, 0);
    z-index: 29
}

.screen-3 .left3 {
    position: absolute;
    top: .166rem;
    left: -.196rem;
    width: .498rem;
    height: .287rem;
    background-image: url(/public/c/images/p3/l-3_638515c.png);
    background-repeat: no-repeat;
    background-size: .498rem auto;
    -webkit-transform: translate3d(0.88rem, .58rem, 0);
    z-index: 19
}

.screen-3 .left4 {
    position: absolute;
    top: .156rem;
    left: -.238rem;
    width: .565rem;
    height: .338rem;
    background-image: url(/public/c/images/p3/l-4_2f310b4.png);
    background-repeat: no-repeat;
    background-size: .565rem auto;
    -webkit-transform: translate3d(0.88rem, .58rem, 0)
}

.screen-3 .middle1 {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: .364rem;
    height: .235rem;
    background-image: url(/public/c/images/p3/m-0_cab358c.png);
    background-repeat: no-repeat;
    background-size: .364rem auto;
    z-index: 39
}

.screen-3 .middle2 {
    position: absolute;
    top: .34rem;
    left: .114rem;
    width: .419rem;
    height: .242rem;
    background-image: url(/public/c/images/p3/m-1_3796261.png);
    background-repeat: no-repeat;
    background-size: .419rem auto;
    -webkit-transform: translate3d(0.88rem, .58rem, 0);
    z-index: 29
}

.screen-3 .middle3 {
    position: absolute;
    top: .33rem;
    left: .074rem;
    width: .497rem;
    height: .286rem;
    background-image: url(/public/c/images/p3/m-2_7283745.png);
    background-repeat: no-repeat;
    background-size: .497rem auto;
    -webkit-transform: translate3d(0.88rem, .58rem, 0);
    z-index: 19
}

.screen-3 .middle4 {
    position: absolute;
    top: .318rem;
    left: .034rem;
    width: .582rem;
    height: .336rem;
    background-image: url(/public/c/images/p3/m-3_8268963.png);
    background-repeat: no-repeat;
    background-size: .582rem auto;
    -webkit-transform: translate3d(0.88rem, .58rem, 0)
}

.screen-3 .stop {
    position: absolute;
    top: .08rem;
    left: .15rem;
    width: .057rem;
    height: .033rem;
    background-image: url(/public/c/images/p3/stop_4bc1b40.png);
    background-repeat: no-repeat;
    background-size: .057rem auto;
    z-index: 49
}

.screen-3 .play {
    opacity: 0;
    position: absolute;
    top: -.131rem;
    left: .047rem;
    width: .25rem;
    height: .263rem;
    background-image: url(/public/c/images/p3/play_482c60c.png);
    background-repeat: no-repeat;
    background-size: .25rem auto;
    z-index: 59
}

.screen-3 .block-wrap {
    position: absolute;
    top: .122rem;
    z-index: 49;
    width: .24rem;
    height: .146rem;
    overflow: hidden;
    -webkit-transform-origin: top left;
    -webkit-transform: rotate(-30deg) skew(32deg)
}

.screen-3 .block-wrap .block1 {
    position: absolute;
    top: .126rem;
    left: 0rem;
    width: .24rem;
    height: .02rem
}

.screen-3 .block-wrap .block2 {
    position: absolute;
    top: .126rem;
    left: -.24rem;
    width: .24rem;
    height: .02rem
}

.screen-3 .block-wrap .block3 {
    position: absolute;
    top: .008rem;
    left: 0rem;
    width: .24rem;
    height: .02rem
}

.screen-3 .block-wrap .block4 {
    position: absolute;
    top: .008rem;
    left: -.24rem;
    width: .24rem;
    height: .02rem
}

.screen-3 .block-wrap .block1 div:nth-child(1), .screen-3 .block-wrap .block2 div:nth-child(1), .screen-3 .block-wrap .block3 div:nth-child(1), .screen-3 .block-wrap .block4 div:nth-child(1) {
    position: absolute;
    top: 0rem;
    left: .008rem;
    width: .018rem;
    height: .012rem;
    background: #fff
}

.screen-3 .block-wrap .block1 div:nth-child(2), .screen-3 .block-wrap .block2 div:nth-child(2), .screen-3 .block-wrap .block3 div:nth-child(2), .screen-3 .block-wrap .block4 div:nth-child(2) {
    position: absolute;
    top: 0rem;
    left: .037rem;
    width: .018rem;
    height: .012rem;
    background: #fff
}

.screen-3 .block-wrap .block1 div:nth-child(3), .screen-3 .block-wrap .block2 div:nth-child(3), .screen-3 .block-wrap .block3 div:nth-child(3), .screen-3 .block-wrap .block4 div:nth-child(3) {
    position: absolute;
    top: 0rem;
    left: .066rem;
    width: .018rem;
    height: .012rem;
    background: #fff
}

.screen-3 .block-wrap .block1 div:nth-child(4), .screen-3 .block-wrap .block2 div:nth-child(4), .screen-3 .block-wrap .block3 div:nth-child(4), .screen-3 .block-wrap .block4 div:nth-child(4) {
    position: absolute;
    top: 0rem;
    left: .095rem;
    width: .018rem;
    height: .012rem;
    background: #fff
}

.screen-3 .block-wrap .block1 div:nth-child(5), .screen-3 .block-wrap .block2 div:nth-child(5), .screen-3 .block-wrap .block3 div:nth-child(5), .screen-3 .block-wrap .block4 div:nth-child(5) {
    position: absolute;
    top: 0rem;
    left: .124rem;
    width: .018rem;
    height: .012rem;
    background: #fff
}

.screen-3 .block-wrap .block1 div:nth-child(6), .screen-3 .block-wrap .block2 div:nth-child(6), .screen-3 .block-wrap .block3 div:nth-child(6), .screen-3 .block-wrap .block4 div:nth-child(6) {
    position: absolute;
    top: 0rem;
    left: .153rem;
    width: .018rem;
    height: .012rem;
    background: #fff
}

.screen-3 .block-wrap .block1 div:nth-child(7), .screen-3 .block-wrap .block2 div:nth-child(7), .screen-3 .block-wrap .block3 div:nth-child(7), .screen-3 .block-wrap .block4 div:nth-child(7) {
    position: absolute;
    top: 0rem;
    left: .182rem;
    width: .018rem;
    height: .012rem;
    background: #fff
}

.screen-3 .block-wrap .block1 div:nth-child(8), .screen-3 .block-wrap .block2 div:nth-child(8), .screen-3 .block-wrap .block3 div:nth-child(8), .screen-3 .block-wrap .block4 div:nth-child(8) {
    position: absolute;
    top: 0rem;
    left: .211rem;
    width: .018rem;
    height: .012rem;
    background: #fff
}

.screen-3 .right1 {
    position: absolute;
    top: .504rem;
    left: .412rem;
    width: .357rem;
    height: .236rem;
    background-image: url(/public/c/images/p3/r-1_a9737b7.png);
    background-repeat: no-repeat;
    background-size: .357rem auto;
    -webkit-transform: translate3d(0.88rem, .58rem, 0);
    z-index: 39
}

.screen-3 .right2 {
    position: absolute;
    top: .53rem;
    left: .384rem;
    width: .419rem;
    height: .246rem;
    background-image: url(/public/c/images/p3/r-2_f19d90f.png);
    background-repeat: no-repeat;
    background-size: .419rem auto;
    -webkit-transform: translate3d(0.88rem, .58rem, 0);
    z-index: 29
}

.screen-3 .right3 {
    position: absolute;
    top: .52rem;
    left: .344rem;
    width: .498rem;
    height: .287rem;
    background-image: url(/public/c/images/p3/r-3_dbf662c.png);
    background-repeat: no-repeat;
    background-size: .498rem auto;
    -webkit-transform: translate3d(0.88rem, .58rem, 0);
    z-index: 19
}

.screen-3 .right4 {
    position: absolute;
    top: .51rem;
    left: .306rem;
    width: .583rem;
    height: .337rem;
    background-image: url(/public/c/images/p3/r-4_abdac93.png);
    background-repeat: no-repeat;
    background-size: .583rem auto;
    -webkit-transform: translate3d(0.88rem, .58rem, 0)
}

.screen-3 .star1 {
    position: absolute;
    top: .28rem;
    left: .432rem;
    width: .032rem;
    height: .032rem;
    background-image: url(/public/c/images/p3/star0_f437844.png);
    background-repeat: no-repeat;
    background-size: .032rem auto;
    -webkit-transform: scale(0) rotate(360deg)
}

.screen-3 .star2 {
    position: absolute;
    top: .314rem;
    left: .462rem;
    width: .017rem;
    height: .017rem;
    background-image: url(/public/c/images/p3/star1_8ce0408.png);
    background-repeat: no-repeat;
    background-size: .017rem auto;
    -webkit-transform: scale(0) rotate(360deg)
}

.screen-3.enter-play .feature-wrap .feature {
    -webkit-animation: feature-2-enter-ani .2s .8s ease-out forwards
}

.screen-3.enter-play .block1, .screen-3.enter-play .block2, .screen-3.enter-play .block3, .screen-3.enter-play .block4 {
    -webkit-animation: film 1.4s linear infinite
}

.screen-3.enter-play .star1 {
    -webkit-animation: star-enter-ani 1s 1s linear forwards
}

.screen-3.enter-play .star2 {
    -webkit-animation: star-enter-ani .8s 1.4s linear forwards
}

.screen-3.enter-play .play {
    -webkit-animation: play-enter-ani .3s 1.1s linear forwards
}

.screen-3.enter-play .left1 {
    -webkit-animation: left1-enter-ani 1s linear forwards
}

.screen-3.enter-play .left2 {
    -webkit-animation: left2-enter-ani 1s linear forwards
}

.screen-3.enter-play .left3 {
    -webkit-animation: left3-enter-ani 1s linear forwards
}

.screen-3.enter-play .left4 {
    -webkit-animation: left4-enter-ani 1s linear forwards
}

.screen-3.enter-play .middle1-wrap {
    -webkit-animation: middle1-enter-ani 1s linear forwards
}

.screen-3.enter-play .middle2 {
    -webkit-animation: middle2-enter-ani 1s linear forwards
}

.screen-3.enter-play .middle3 {
    -webkit-animation: middle3-enter-ani 1s linear forwards
}

.screen-3.enter-play .middle4 {
    -webkit-animation: middle4-enter-ani 1s linear forwards
}

.screen-3.enter-play .right1 {
    -webkit-animation: right1-enter-ani 1s linear forwards
}

.screen-3.enter-play .right2 {
    -webkit-animation: right2-enter-ani 1s linear forwards
}

.screen-3.enter-play .right3 {
    -webkit-animation: right3-enter-ani 1s linear forwards
}

.screen-3.enter-play .right4 {
    -webkit-animation: right4-enter-ani 1s linear forwards
}

.screen-3.out-play .feature-wrap .feature {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: feature-3-out-ani .2s ease-out forwards
}

.screen-3.out-play .left1 {
    -webkit-animation: left-out-ani 1s linear forwards
}

.screen-3.out-play .left2 {
    -webkit-animation: left-out-ani 1s linear forwards
}

.screen-3.out-play .left3 {
    -webkit-animation: left-out-ani 1s linear forwards
}

.screen-3.out-play .left4 {
    -webkit-animation: left-out-ani 1s linear forwards
}

.screen-3.out-play .middle1-wrap {
    -webkit-animation: left-out-ani 1s linear forwards
}

.screen-3.out-play .middle2 {
    -webkit-animation: left-out-ani 1s linear forwards
}

.screen-3.out-play .middle3 {
    -webkit-animation: left-out-ani 1s linear forwards
}

.screen-3.out-play .middle4 {
    -webkit-animation: left-out-ani 1s linear forwards
}

.screen-3.out-play .right1 {
    -webkit-animation: left-out-ani 1s linear forwards
}

.screen-3.out-play .right2 {
    -webkit-animation: left-out-ani 1s linear forwards
}

.screen-3.out-play .right3 {
    -webkit-animation: left-out-ani 1s linear forwards
}

.screen-3.out-play .right4 {
    -webkit-animation: left-out-ani 1s linear forwards
}

@-webkit-keyframes feature-2-enter-ani {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, .09rem, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes film {
    0% {
        -webkit-transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(0.24rem, 0, 0)
    }
}

@-webkit-keyframes star-enter-ani {
    0% {
        -webkit-transform: scale(0) rotate(360deg)
    }
    100% {
        -webkit-transform: scale(1) rotate(0)
    }
}

@-webkit-keyframes play-enter-ani {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes left1-enter-ani {
    0% {
        -webkit-transform: translate3d(0.88rem, .58rem, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes left2-enter-ani {
    0% {
        -webkit-transform: translate3d(0.88rem, .58rem, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes left3-enter-ani {
    0% {
        -webkit-transform: translate3d(0.88rem, .58rem, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes left4-enter-ani {
    0% {
        -webkit-transform: translate3d(0.88rem, .58rem, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes middle1-enter-ani {
    0% {
        -webkit-transform: translate3d(0.88rem, .58rem, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes middle2-enter-ani {
    0% {
        -webkit-transform: translate3d(0.88rem, .58rem, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes middle3-enter-ani {
    0% {
        -webkit-transform: translate3d(0.88rem, .58rem, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes middle4-enter-ani {
    0% {
        -webkit-transform: translate3d(0.88rem, .58rem, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes right1-enter-ani {
    0% {
        -webkit-transform: translate3d(0.88rem, .58rem, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes right2-enter-ani {
    0% {
        -webkit-transform: translate3d(0.88rem, .58rem, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes right3-enter-ani {
    0% {
        -webkit-transform: translate3d(0.88rem, .58rem, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes right4-enter-ani {
    0% {
        -webkit-transform: translate3d(0.88rem, .58rem, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes feature-3-out-ani {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, .09rem, 0)
    }
}

@-webkit-keyframes left-out-ani {
    0% {
        -webkit-transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(0.88rem, .58rem, 0)
    }
}
